.org {
    background-color: #eee;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.org-large {
    padding: 15px;
    margin: 5px;
    font-size: 1.1em;
}

.org-level {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 5px 0;
}
.org-vertical {
    align-items: flex-start;
}
.org-vertical-subtree {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5px;
    box-sizing: border-box;
}